body {
  background-color: #e7e6e6;
  font-family: sans-serif;
}

h1 {
  color: #1877f2;
  font-size: 70px;
  text-align: center;
  margin-bottom: 0;
}
p {
  text-align: center;
  margin-top: 0;
  font-size: 25px;
}
div {
  margin: 0 auto;
  width: 400px;
  height: 370px;
  background-color: white;
  border-radius: 8px;
}
input {
  width: 90%;
  height: 48px;
  margin: 5% 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 16px;
  border: 0.1px solid #80808089;
  font-weight: lighter;
}

#login {
  background-color: #1877f2;
  color: white;
  border: none;
  font-size: larger;
  font-weight: bolder;
}
a {
  margin-left: 30%;
  text-decoration: none;
}
#login:hover {
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
hr {
  background-color: #80808077;
  border: none;
  height: 1px;
  width: 90%;
  margin-left: auto;
}
button {
  width: 50%;
  height: 48px;
  margin-left: 25%;
  margin-top: 10px;
  background-color: #23c623;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: larger;
  font-weight: bolder;
}
button:hover {
  cursor: pointer;
}
