body{
 background-color: #e7e6e6; font-family:Arial, Helvetica, sans-serif;
  
}

h1{
    color: #0909f0;font-size: 70px;text-align: center;margin-bottom: 0;
}
p{
    text-align: center;margin-top:0;font-size:25px ;
}
div{
    margin: 0 auto;width: 370px;height: 370px;background-color: white;
    border-radius: 8px;
    
}
input{
    width: 90%;height: 48px; margin: 5% 5%;margin-top: 10px;margin-bottom: 10px;
    border-radius: 8px;font-size: 15px;font-weight: bold
}
#login{
    background-color: #0909f0;color: white;font-size: larger;font-weight: bold;
}